<!DOCTYPE html>
<html lang="en  ">
<head>
  <title>IPRO Proposals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/application.js"></script>
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a href="index.html" class="navbar-brand">IPRO Proposals</a>
    <nav class="pull-right">
      <a href="#" class="btn btn-primary navbar-btn">Approvals</a>
      <div class="btn-group">
        <button type="button" class="btn btn-primary navbar-btn dropdown-toggle" data-toggle="dropdown">
          Dasboard <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Proposals</a></li>
          <li><a href="#">Archive</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-success navbar-btn dropdown-toggle" data-toggle="dropdown">
          User <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Settings</a></li>
          <li class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div id="dashboard">
  <div class="container jumbotron">
    <h3>My Proposals</h3>
  </div>
</div>

</body>
</html>