<!DOCTYPE html>
<html lang="en  ">
<head>
  <title>IPRO Proposals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="../js/application.js"></script>
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a href="index.html" class="navbar-brand">IPRO Proposals</a>
    <nav class="pull-right">
      <a href="#" class="btn btn-danger navbar-btn">Login</a>
    </nav>
  </div>
</header>

<div class="main-focus-area">
  
</div>

</body>
</html>