<!DOCTYPE html>
<html lang="en  ">
<head>
  <title>IPRO Proposals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="../js/application.js"></script>
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a href="index.html" class="navbar-brand">IPRO Proposals</a>
    <nav class="pull-right">
      <a href="http://ipro.iit.edu/" target="_blank" class="btn btn-danger navbar-btn">Visit IPRO Homepage</a>
      <a href="index.html" class="btn btn-primary navbar-btn">Login</a>
    </nav>
  </div>
</header>

<div id="signup">
  <div class="container jumbotron">
    <div class="col-lg-4 col-offset-4 text-center">
      <h3>Sign up for a new account</h3>
      <form class="form-horizontal">
        <div class="form-group">
          <input type="text" class="form-control input-large" id="Name" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-large" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-large" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-large" id="password-confirm" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>